

RewriteEngine On
RewriteRule test titi/test.php
RewriteRule test2 titi/test2.php
RewriteRule Se-Faire-Connaitre index.php
RewriteRule Je-me-forme-au-SEO index.php
RewriteRule SIGNIN index.php
RewriteRule LOGIN index.php
RewriteRule FullAdmin index.php
RewriteRule Demo  index.php
RewriteRule logout index.php
RewriteRule create-Activity  index.php
RewriteRule delete-Activity  index.php
RewriteRule show-Activity  index.php
RewriteRule link-Keywords-with-Activity  index.php
RewriteRule show-Keywords-Run  index.php
RewriteRule show-Keywords  index.php
RewriteRule create-Keywords  index.php
RewriteRule Add-Info  index.php
RewriteRule show-Websites  index.php
RewriteRule show-Articles-From-Database  index.php
RewriteRule Synthetic-Results-For-Activity  index.php
RewriteRule Detailed-Results-For-Activity  index.php
RewriteRule Evolution-Rankings  index.php
RewriteRule Find-Prospects  index.php
RewriteRule Analyze-Ads  index.php
RewriteRule Analyze-Ads-By-Keywords  index.php
RewriteRule WhoBuy-Ads  index.php
RewriteRule create-Profession  index.php
RewriteRule delete-Profession  index.php
RewriteRule show-Profession  index.php
RewriteRule Voir-Repartition  index.php
RewriteRule Voir-Entreprises-Non-Classees  index.php
RewriteRule Find-Company-By-City  index.php
RewriteRule Find-Company-By-Type  index.php
RewriteRule Find-Companies-By-PostalCode  index.php
RewriteRule show-Users  index.php
RewriteRule create-User  index.php
RewriteRule Activity index.php
RewriteRule ShowRunActivity index.php
RewriteRule ShowRunProfession index.php
RewriteRule ShowDatesForDownloadedDomain index.php
RewriteRule ShowDomaines index.php
RewriteRule ShowCities index.php
RewriteRule ShowAds index.php
RewriteRule RankingGoogle index.php
RewriteRule ArticleFromRanking index.php
RewriteRule ArticleFromURL index.php
RewriteRule ArticleLinksFromDatabase index.php
RewriteRule ArticleTextFromDatabase index.php
