.dropdown-submenu-10{<
    position:relative;
}
.dropdown-submenu-10 > .dropdown-menu
{
    top:10%;
    left:100%;
    margin-top: 0px;
    margin-left:-100px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu-1:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu-20{<
    position:relative;
}

.dropdown-submenu-20 > .dropdown-menu
{
    top:83px;
    left:100%;
    margin-top: 0px;
    margin-left:-100px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu-20:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu-30{<
    position:relative;
}

.dropdown-submenu-30 > .dropdown-menu
{
    top:230px;
    left:100%;
    margin-top: 0px;
    margin-left:-100px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu-30:hover > .dropdown-menu{
    display:block;
}



.root:hover > .dropdown-menu{
    display: block;
}
