<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>PlusDeCA.fr: Spécialiste en croissance du chiffre d'affaire</title>

        <meta name="keywords" content="Augmenter votre chiffre d'affaires" />
        <meta name="description" content="SEO facile"> 

        <meta name='robots' content='max-image-preview:large' /><link rel="alternate" href="https://PlusDeCA.fr/" hreflang="fr" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PlusDeCA.fr est une agence basée près de Paris qui aide les entreprises à augmenter leur chiffre d'affaire ⚡️ grâce au référencement naturel et à la constitution de bases de prospects ✨"/>
        <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/><link rel="canonical" href="https://PlusDeCA.fr/" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="PlusDeCA.fr: Spécialiste en croissance du chiffre d'affaire" />
        <meta property="og:description" content="PlusDeCA.fr est une agence basée près de Paris qui aide les entreprises à augmenter leur chiffre d'affaire ⚡️ grâce au référencement naturel et à la constitution de bases de prospects ✨" />
        <meta property="og:url" content="https://PlusDeCA.fr/" />
        <meta property="og:site_name" content="PlusDeCA.fr" />
        <!--<meta property="fb:app_id" content="754118578107627" />-->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="PlusDeCA.fr est une agence basée près de Paris qui aide les entreprises à augmenter leur chiffre d'affaire ⚡️ grâce au référencement naturel et à la constitution de bases de prospects ✨" />
        <meta name="twitter:title" content="PlusDeCA.fr: Spécialiste en croissance du chiffre d'affaire" />
        <meta name="twitter:site" content="@PlusDeCA_fr" />
        <meta name="twitter:creator" content="@PlusDeCA_fr" />
        




        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Theme CSS -->
        <link type="text/css" media="screen" rel="stylesheet" href="css/styleLandingPage.css"/>
        <!-- Responsive CSS -->
        <link type="text/css" media="screen" rel="stylesheet" href="css/theme-responsive.css"/>
        <!-- Skins Theme -->
        <link type="text/css" media="screen" rel="stylesheet" href="#" class="skin_color"/>

        <!-- Ajout Daniel CSS -->
		<link href="css/styleLandingPage-daniel.css" rel="stylesheet">



        <!-- Head Libs -->
        <script src="js/modernizr.js"></script>

        <!-- Favicons -->
        <link rel="shortcut icon" href="img/icons/favicon.ico">
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">   

        <!-- styles for IE -->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/ie/ie.css" type="text/css" media="screen" />            
        <![endif]-->


        <!--[if lte IE 8]>
            <script src="js/responsive/html5shiv.js"></script>
            <script src="js/responsive/respond.js"></script>
        <![endif]-->
    </head>
    
    
    <body> 

    <!--Preloader-->
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>
    <!--End Preloader-->


    <div id="layout" class="layout-wide">

        <!-- Header-->
        <header>           
            <!-- Container-->
            <div class="container-fluid">
                <!-- Row-->
                <div class="row">


                    <!-- Logo-->
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="/" title="Accueil">   <h4><b>Plus De CA</b></h4>                        
                            </a>
                        </div>
                    </div>
                    <!-- End Logo-->

                                                      
                    <!-- Nav-->
                    <nav class="col-md-6">

                        <!-- Menu-->
                        <ul id="menu" class="sf-menu">


                            <li><a href="/">Nos services <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="/#Visibilité">Concurrence internet</a></li>
                                    <li><a href="/#VeilleReferencement">Veille Référencement</a></li>
                                    <li><a href="/#SiteWeb">Création de site Web</a></li>
                                    <li><a href="/#Optimisation">Optimisation de site Web</a></li>
                                    <li><a href="/#BaseProspects">Formation pour créer une base de prospects</a></li>
                                    <li><a href="/#Completion">Programmes pour compléter votre base de prospects</a></li>
                                    <li><a href="/#DevOffshore">Développement à bas coût</a></li>
                                </ul>
                            </li>


                            <li>
                                <li><a href="/">Ressources gratuites  <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li> <a href="/Se-Faire-Connaitre">Je me fais connaître</a></li>  
                                    <li> <a href="/Je-me-forme-au-SEO">Je me forme au SEO</a></li>    
                                </ul>
                            </li>                                                                        

                            <li><a href="/LOGIN">Se connecter</a></li>
                            
                        </ul>
                        

                        <!-- End Menu-->
                    </nav>
                    <!-- End Nav-->

                </div>
                <!-- End Row-->
            </div>
            <!-- End Container-->
        </header>
        <!-- End Header-->

