
        <br>
        <br>


        <!-- Info -->
        <section>
            <div class="container">
                <h1>Se faire connaître: le défi du chef de TPE</h1>
                <br>
                <div class="texte-std">
                    Vous venez de (ou vous allez) lancer votre activité et vous êtes dans l'effervescence de la création.
                    Il va cependant rapidement falloir réaliser du chiffre d'affaires et pour y parvenir se faire connaître est obligatoire.<br> 
                    C'est votre objectif numéro 1 et vous devez y consacrer plus de 50% de votre temps. La survie de votre entreprise en dépend.<br><br>
                    <b>Vous devez multiplier les occasions de parler de votre entreprise et cela passe par utiliser un maximum de canaux de communication.</b><br><br>



                    Heureusement, nous avons rassemblé pour vous les meilleurs articles du web sur le sujet afin de vous donner des idées. <br> 

                    <ul>
                        <li> <a onClick="openInNewTab('https://www.creerentreprise.fr/comment-faire-connaitre-son-entreprise/')" >- Comment faire connaître son entreprise ? </a></li>
                        <li> <a onClick="openInNewTab('https://www.conseilsmarketing.com/mailings/12-outils-pour-faire-connaitre-un-commerce-ou-une-petite-entreprise-%E2%80%93-partie-1/')">- 15 outils pour faire connaitre un commerce ou une petite entreprise</a>
                        <li> <a onClick="openInNewTab('https://www.kiwili.com/fr/Blog/post/7-facons-se-faire-connaitre-gratuitement/')">- 7 façons efficaces de se faire connaître gratuitement </a></li>
                    </ul>


                    <br>
                    Les vidéos Youtube
                    <ul>
                        <li> <a onClick="openInNewTab('https://www.youtube.com/watch?v=kxI8P4jTpRc')" >- Comment Prospecter et Trouver ses Premiers Clients </a></li>
                        <li> <a onClick="openInNewTab('https://www.youtube.com/watch?v=x3TFZJnNw9w')" >- Cold Calling : Comment vendre par téléphone </a></li>
                        <li> <a onClick="openInNewTab('https://www.youtube.com/watch?v=fjwA7mPAspc')" >- Stratégie de cold call qui a fait ses preuves </a></li>
                    </ul>

                </div>

                <br><br><br>

                <div class="texte-std">    
                    Chez <b> <a href="https://PlusDeCA.fr/"> Plus De CA </a></b> nous utilisons principalement 6 canaux pour nous faire connaître:
                    <ul>
                        <li>- la téléprospection (Cold Calling),</li>
                        <li>- les salons professionnels,</li>
                        <li>- les réseaux sociaux,</li>
                        <li>- la carte de visite,</li>
                        <li>- le site web,</li>
                        <li>- les associations de chefs d'entreprise.</li>
                       
                    </ul>
                </div>
                

                <br>
                <br>
            </div>
            <!-- End Container-->
        </section>
        <!-- End Info-->







        <!-- Services  Center -->
        <section class="content_info">
            <div class="section-gray paddings borders">
                <!-- Row fuid-->
                <div class="row services-no-margin">
                     <!-- Item service-->
                      <div class="col-md-2 text-center">
                          <div class="item-service border-right">
                              <div class="row head-service">
                                  <div class="col-md-12">
                                      <i class="fa fa-star"></i>                             
                                  </div>
                                  <div class="col-md-12">
                                      <h4>La téléprospection</h4>
                                  </div>
                              </div>                          
                                <p>C'est notre vecteur numéro 1. Nous nous appuyons sur notre base de données pour la réaliser
                                </p>

                          </div>
                      </div>      
                      <!-- End Item service-->

                      <!-- Item service-->
                      <div class="col-md-2 text-center">
                          <div class="item-service border-right">
                              <div class="row head-service">
                                  <div class="col-md-12">
                                     <i class="fa fa-fire"></i>                            
                                  </div>
                                  <div class="col-md-12">
                                      <h4>Les salons professionnels</h4>
                                  </div>
                              </div>                          
                                
                              <p> C'est une source très importante pour notre activité. 
                                </p>
                          </div>
                      </div>      
                      <!-- End Item service-->


                    <!-- Item service-->
                    <div class="col-md-2 text-center">
                        <div class="item-service">
                            <div class="row head-service">
                                <div class="col-md-12">
                                    <i class="fa fa-cogs"></i>                    
                                </div>
                                <div class="col-md-12">
                                    <h4>Les réseaux sociaux </h4>
                                </div>
                            </div>                          
                            <p>Nous publions des articles sur notre site web et sur certains réseaux sociaux pour nous faire connaître.
                            </p>
                        </div>
                    </div>      
                    <!-- End Item service-->                      


                    <div class="col-md-2 text-center">
                        <div class="item-service border-right">
                            <div class="row head-service">
                                <div class="col-md-12">
                                    <i class="fa fa-star"></i>                             
                                </div>
                                <div class="col-md-12">
                                    <h4>La carte de visite</h4>
                                </div>
                            </div>                          
                              <p>C'est le compagnon de toutes nos rencontres sur le terrain.
                              </p>

                        </div>
                    </div>      
                    <!-- End Item service-->

                    <!-- Item service-->
                    <div class="col-md-2 text-center">
                        <div class="item-service border-right">
                            <div class="row head-service">
                                <div class="col-md-12">
                                   <i class="fa fa-fire"></i>                            
                                </div>
                                <div class="col-md-12">
                                    <h4>Le site web</h4>
                                </div>
                            </div>                          
                              
                            <p> C'est le complément de la carte de visite. Toute entreprise devrait avoir un site web. 
                              </p>
                        </div>
                    </div>      
                    <!-- End Item service-->


                  <!-- Item service-->
                  <div class="col-md-2 text-center">
                      <div class="item-service">
                          <div class="row head-service">
                              <div class="col-md-12">
                                  <i class="fa fa-cogs"></i>                    
                              </div>
                              <div class="col-md-12">
                                  <h4>Les associations de chefs d'entreprise</h4>
                              </div>
                          </div>                          
                          <p>Nous faisons partie de plusieurs associations, ce qui nous permet de networker
                          </p>
                      </div>
                  </div>      
                  <!-- End Item service-->    

                </div>
                <!-- End Row fuid-->
            </div>
        </section>
         <!-- End Services Center-->


        <script>
            function openInNewTab(url)
            {
              var win = window.open(url, '_blank');
              win.focus();
            }
        </script>
        








        