<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="css/charbel/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front"  style="backface-visibility: hidden;" >
        <img src="img/charbel/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Bienvenue sur Plus de CA</span>
          <span class="text-2">Restons Connecter</span>
        </div>
      </div>
      <div class="back" style="position: absolute; width:100%;height:100%; transform: rotateY(-180deg); backface-visibility: hidden;">
        <img src="img/charbel/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Bienvenue sur Plus de CA</span>
          <span class="text-2">Restons Connecter</span>
        </div>
    </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="img">
              <img src="../../img/charbel/Logo.png" alt="Logo entreprise">
            </div>
            <div class="title">Connexion</div>
            <form action="#" id="Signin-form" novalidate>
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="email" id="SigninEmail" placeholder="Entrez votre mail" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" class="PasswordField" id="LoginPassword" placeholder="Entrez votre mot de passe" required>
                  <span class="show-btn"><i class="fas fa-eye show-icon"></i></span>
                </div>

                <span id="EmptyError"></span>
                <div class="text"><a href="/Forgotten">Mot de passe oublié?</a></div>
                <div class="button input-box">
                  <input type="submit" value="Se connecter">
                </div>
                <div class="text sign-up-text">Vous êtes nouveau ici? <label for="flip">S'inscrire</label></div>
              </div>
          </form>
      </div>
        <div class="signup-form">
          <div class="title">Inscription</div>
      <form action="#" id="Signup-form" novalidate>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Entrez votre nom" id="Nom" required>
              </div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Entrez votre prénom" id="Prenom" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Entrez votre mail" id="Email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" class="PasswordField Primary" placeholder="Entrez votre mot de passe" required>
                <span class="show-btn"><i class="fas fa-eye show-icon"></i></span>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password"class="PasswordField Secondary"  placeholder="Confirmez votre mot de passe" required>
                <span class="show-btn"><i class="fas fa-eye show-icon"></i></span>
              </div>
              <div class="Errors">
                <span id="MailError"></span> <br>
                <span class="PasswordFieldError"></span><br>
                <span class="ConfirmPasswordFieldError"></span><br>
                <span id="SignupEmptyError"></span>
              </div>
              <div class="button input-box">
                <input type="submit" value="Soumettre">
              </div>
              <div class="text sign-up-text">Avez-vous déjà un compte? <label for="flip">Se connecter</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>


 <script src="../../js/charbel/script.js"></script>



</body>
</html>
