<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="css/charbel/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front"  style="backface-visibility: hidden;" >
        <img src="img/charbel/frontImg.jpg" alt="">
        <div class="text">
            <span class="text-1">Every new friend is a <br> new adventure</span>
            <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back" style="position: absolute; width:100%;height:100%; transform: rotateY(-180deg); backface-visibility: hidden;">
        <img src="img/charbel/backImg.jpg" alt="">
        <div class="text">
            <span class="text-1">Every new friend is a <br> new adventure</span>
            <span class="text-2">Let's get connected</span>
        </div>
    </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" class="PasswordField" placeholder="Enter your password" required>
                <span class="show-btn"><i class="fas fa-eye show-icon"></i></span>
              </div>
              <div class="text"><a href="/Forgotten">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" class="PasswordField Primary" placeholder="Enter your password" required>
                <span class="show-btn"><i class="fas fa-eye show-icon"></i></span>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password"class="PasswordField Secondary"  placeholder="Confirm your password" required>
                <span class="show-btn"><i class="fas fa-eye show-icon"></i></span>
              </div>
              <span class="PasswordFieldError"></span>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>


  <script>
    let passwordField = document.querySelectorAll(".PasswordField");
    let passwordFieldError = document.querySelector(".PasswordFieldError");
    let PrimaryPassword = document.querySelector(".PasswordField.Primary");
    let SecondaryPassword = document.querySelector(".PasswordField.Secondary");
    
    var regExpWeak = /^(?=.*[0-9])(?=.*[!@;#$%^&*])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@;#$%^&*]{8,16}$/;

    let ShowIcon = document.querySelectorAll(".show-icon");


    for (let i = 0; i < passwordField.length; i++) {
        for (let j = 0; j < ShowIcon.length; j++) {
            ShowIcon[i].onclick = (()=>{
                if(passwordField[i].type === "password"){
                    passwordField[i].type = "text";
                    ShowIcon[i].classList.add("hide-btn");
                    }else{
                    passwordField[i].type = "password";
                    ShowIcon[i].classList.remove("hide-btn");
                }
            });
            passwordField[i].onfocus = (()=>{
              if (PrimaryPassword.value.trim() == '') {
                    passwordFieldError.textContent = "The field is empty";
                    passwordFieldError.style.color="red";
              }
              setInterval(() => {
                if (PrimaryPassword.value.trim() == '') {
                    passwordFieldError.textContent = "The field is empty";
                    passwordFieldError.style.color="red";
                }
                else if (regExpWeak.test(PrimaryPassword.value) == true) {
                    passwordFieldError.textContent = "Your password is valid";
                    passwordFieldError.style.color="green";
                }
                else{
                  passwordFieldError.textContent = "Your password must contain between 8 and 16 chars with an uppercase, a lowercase, a digit and a special char (!@;#$%^&*)";
                  passwordFieldError.style.color="red";
                }
                
              }, 1500);
            });
        }
    }
  </script>



</body>
</html>
