
        <!-- Section area -->
        <section class="paddings-large height-max">
            <div class="container">
                

                <div class="row register">
                    <form method="post">
                    
                        <div class="row">
                            <div class="col-md-12">
                                <input name="Prenom"  placeholder="Prénom" type="text" required>
                            </div>
                            <div class="col-md-12">
                                <input name="Nom"  placeholder="Nom" type="text" required>
                            </div>
                            <div class="col-md-12">
                                <input name="Email"  placeholder="Email pro." type="text" required>
                            </div>
                            <div class="col-md-12">
                                <input name="Password" placeholder="Mot de passe"  type="password"  required>
                            </div>
                            <div class="col-md-12">
                                <input name="Password2" placeholder="Confirmez le mot de passe"  type="password"  required>
                            </div>

                            <div class="col-md-12">
                                <input  name="Submit" type="submit" class="btn btn-primary" value="Créer le compte démo">
                            </div>
                        </div>
                    
                    </form>
                </div>


            </div>
            <!-- End Container-->
        </section>
        <!-- End Section area-->
   
