
        <form  class="form-style-9"  action="./Article_ParametrerAll.php" method="post">

            <table style="width:100%">
              <tr>
                <td style="width:50%">
                  <table style="width:100%">
                    <tr>
                      <td valign="top" style="width:100%">
                        <iframe id="inlineFrameExample"
                          title="Inline Frame Example"
                          width="100%"
                          height="600px"
                          src="[ARTICLE_INITIAL]">
                        </iframe>
                      </td>
                    </tr>
                  </table>
                </td>




                <td style="width:50%">

                  <table style="width:100%">
                    <tr>
                      <td valign="top" style="width:100%">
                        <textarea name="ContenuArticle" style="width:100%;height:300px;resize:none;">[CONTENU_ARTICLE]</textarea>
                      </td>
                    </tr>

                    <tr>
                      <td valign="top" style="width:100%">
                        <input type="button" name="Modify" onclick="alert('Modifier le code')" value="Modifier le code" />
                        <input type="button" name="Run"  onclick="alert('Run')" value="Run" />
                      </td>
                    </tr>

                    <tr>
                      <td valign="top" style="width:100%">
                        <textarea name="Phrases" style="width:100%;height:300px;resize:none;">[PHRASES]</textarea>
                      </td>
                    </tr>
                  </table>


                </td>
              </tr>


            </table>

        </form>
