
<div class="container" style="margin-top:3%" >
    <div class="row">
        <div class="col-md-16">

        <form  class="form-style-9" action="./create-Contact&Report" method="post">

             <div  style="border:1px solid #AAAAFF ; background-color:#FAFAFA" >
              <table class="table" style="background-color:#FAFAFA ;  width:100% ; height:100%" >
                 <tr>
                   <td>

                     <table class="table-daniel" style="background-color:#FAFAFA ;  width:100% ; height:100%" >

                        <tr>
                            <td><b>Sexe</b></td>
                            <td>
                                <select name="Sexe" style="width:100%">
                                    <option value="Homme">Homme</option>
                                    <option value="Femme">Femme</option>
                                </select>
                            </td>

                        </tr>

                        <tr>
                            <td><b>Prénom</b></td>
                            <td><input type="text" name="Prenom" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Nom</b></td>
                            <td><input type="text" name="Nom" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Langue</b></td>
                            <td><select class="" style="width:100%" name="Langue">
        [OPTIONS_LANGUE]
                            </select></td>
                        </tr>

                        <tr>
                            <td><b>Site Web</b></td>
                            <td><input type="text" name="SiteWeb" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>



                        <tr>
                            <td><b>Entreprise</b></td>
                            <td><input type="text" name="Entreprise" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Type Entreprise</b></td>
                            <td><select class="" style="width:100%" name="TypeContact">
        [OPTIONS_TYPECONTACT]
                            </select></td>
                        </tr>


                        <tr>
                            <td><b>Fonction</b></td>
                            <td><input type="text" name="Fonction" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Téléphone 1</b></td>
                            <td><input type="text" name="Telephone1" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Téléphone 2</b></td>
                            <td><input type="text" name="Telephone2" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>


                        <tr>
                            <td><b>Email</b></td>
                            <td><input type="email" name="Email" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>LinkedIn</b></td>
                            <td><input type="text" name="LinkedIn" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Facebook</b></td>
                            <td><input type="text" name="Facebook" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Instagram</b></td>
                            <td><input type="text" name="Instagram" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                        <tr>
                            <td><b>Viadeo</b></td>
                            <td><input type="text" name="Viadeo" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full"></td>
                        </tr>

                      </table>
                    </td>

                    <td>
                      <table class="table-daniel" style="background-color:#FAFAFA ;  width:100% ; height:100%" >

                         <tr style="height:35px">
                             <td><b>Type Evènement</b></td>
                         </tr>

                         <tr >
                             <td><input type="text" name="TypeEvent" value = "" style="width:100%;border:1px solid #BBBBFF" class="field-style field-full" ></td>
                         </tr>

                         <tr style="height:35px">
                             <td><b>Commentaire</b></td>
                         </tr>

                         <tr >
                             <td>  <textarea name="Commentaire"  style="width:100%;resize: vertical;min-height:350px;border:1px solid #BBBBFF"></textarea></td>
                         </tr>

                         <tr>
                           <td>
                             <input style="background-color:#3b5998;color:white ; margin-top:25px" type="submit" name="Submit"  value="Enregistrer" />
                           </td>
                        </tr>

                       </table>
                    </td>
                  </tr>
                </<table>
              </div>





        </form>

        </div>
    </div>
</div>
