<!DOCTYPE html>
<html>

<head>
  <!-- <title>Adaptive SEO</title> -->

  <title>PlusDeCA.fr</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css" > <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="/css/styleLogged.css" rel="stylesheet" type="text/css">
  <link href="/css/styleLogged9.css"  rel="stylesheet" type="text/css">
  <link href="/css/styleLogged-daniel.css"  rel="stylesheet" type="text/css">




	<style>
		.daniel-border { background-color: white; border: 1px; border-color: rgb(180, 250, 180 ) ; border-style: solid; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-left: 20px; }

		body,h1,h2,h3,h4,h5 { font-family: "Raleway", sans-serif; }
	</style>

</head>



[MENU]
