
<div class="container" style="margin-top:3%" >
    <div class="row">
        <div class="col-md-16">

          <form  class="form-style-9" action="./run-Keywords" method="post">


               <ul>
                    <li><b>Mots clés sans recherche</b></li>
                    <li>
                        <select id="ListeKeywords" multiple name="Keywords[]" size="10" style="width:100%">
                          [OPTIONS_KEYWORDS]
                        </select>
                    </li>
               </ul>

               <ul>
                 <li>
                   <input style="background-color:#3b5998;color:white ; margin-top:25px" type="submit" name="Submit"  value="Executer" />
                 </li>
              </ul>

          </form>

        </div>
    </div>
</div>
