<div class="container" style="margin-top:10%" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  class="form-style-9"  method="post">
                <ul>
                    <li>
                        <input type="email" name="Email" class="field-style field-full" placeholder="email" />
                    </li>
                    <li>
                        <input type="password" name="Password" class="field-style field-full" placeholder="password" />
                    </li>
                    <li>
                        <input type="submit" name="Submit"  value="Login" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
