<br><br><br><br>

<div style="text-align:center;">
  <form  style="display: inline-block;" method="post">

    <table>
      <tr>
        <td> <b>Mots à chercher dans le type</b> </td>
        <td style="width:10px"></td>
        <td style="width:400px"><input style="width:100%" type="text" name="Keywords" ></td>


         <td>
           <input style="background-color:#3b5998;color:white; Height:30px " type="submit" name="Submit"  value="Chercher" />
         </td>
      </tr>
    </table>
  </form>
</div>
