<br><br><br><br>

<div style="text-align:center;">
  <form  style="display: inline-block;" method="post">

    <table>
      <tr>
         <td><b>Secteur d'activité</b></td>
         <td style="width:5px;"></td>
         <td>
             <select id="ListeActivity" name="Activity" style="width:100%">
               [OPTIONS_ACTIVITY]
             </select>
         </td>
         <td style="width:20px;"></td>

         <td><b>Type</b></td>
         <td style="width:10px"></td>
         <td>
             <select id="ListeTypes" name="Type" style="width:100%"">
               <option value="Ranking">Ranking</option>
               <option value="Scoring">Scoring</option>
             </select>
         </td>

         <td style="width:20px;"></td>
         <td>
           <input style="background-color:#3b5998;color:white; Height:30px " type="submit" name="Submit"  value="Chercher" />
         </td>
      </tr>
    </table>
  </form>
</div>
