<br><br><br><br>

<div style="text-align:center;">
  <form  style="display: inline-block;" method="post">

    <table>
      <tr>
         

         <td><b>Code Postal</b></td>
         <td style="width:10px"></td>
         <td>
          <input type="text" name="CodePostal" value = "[CODE_POSTAL]">
         </td>
         <td style="width:20px"></td>

         <td><b>Type Structure</b></td>
         <td style="width:10px"></td>
         <td>
          <select id="TypeStructure" name="TypeStructure" style="width:100%">
            <option  value=""></option>
            <option  value="Association">Association</option>
            <option  value="Administration">Administration</option>
            <option  value="Comité d'entreprise">Comité d'entreprise</option>
            <option  value="Entrepreneur individuel">Entrepreneur individuel</option>
            <option  value="SA">SA,SAS,SARL</option>
            <option  value="SCI">Société civile immobilière</option>
            <option  value="Syndicat de salariés">Syndicat de salariés</option>
            <option  value="Syndicat patronal">Syndicat patronal</option>
            <option  value="Syndic">Syndic de copropriété</option>
          </select>
         </td>
         <td style="width:20px"></td>

         <td><b>Date</b></td>
         <td style="width:10px"></td>
         <td>
          <input type="text" name="sDate1" placeholder="yyyy-mm-dd">
         </td>
         <td style="width:20px"></td>         

         <td>
           <input style="background-color:#3b5998;color:white; Height:30px " type="submit" name="Submit"  value="Chercher" />
         </td>
      </tr>
    </table>
  </form>
</div>
