<br><br><br><br>

<div style="text-align:center;">
  <form  style="display: inline-block;" method="post">

    <table>
      <tr>
         <td><b>Secteur d'activité</b></td>
         <td>
             <select id="ListeActivity" name="Activity" style="width:100%">
               [OPTIONS_ACTIVITY]
             </select>
         </td>
         <td>
           <input style="background-color:#3b5998;color:white; Height:30px " type="submit" name="Submit"  value="Voir les lancements" />
           <input style="background-color:#3b5998;color:white; Height:30px " type="submit" name="Launch"  value="Lancer la recherche" />
         </td>
      </tr>
    </table>
  </form>
</div>
